.step-button {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  font-weight: bold;

  border: none;
  border-radius: 30px;

  .dark & {
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
  }

  .light & {
    background-color: var(--white-color);
    color: var(--grafite-color);
    border: 1px solid var(--grafite-color);
  }

  .purple & {
    background-color: transparent;
    color: var(--purple-color);
    border: 1px solid var(--purple-color);
  }

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
    border: none;

    .dark & {
      background-color: var(--gray-color);
      color: var(--white-color);
    }
    .purple & {
      color: var(--grafite-color);
    }
  }
}

.icon-button {
  margin: 0 0.5rem;
  display: inline-block;
}

.next-button .icon {
  order: 1;
}

.back-button .icon {
  order: 0;
}

.finish-button {
  background-color: #b700ff;
  color: white;
  padding: 0.7rem 1.9rem;

  .dark & {
    background-color: var(--lemon-color);
    color: var(--black-color);
    border: none;
  }

  .light & {
    background-color: var(--light-blue-color);
    color: var(--white-color);
    border: none;
  }

  .purple & {
    background-color: var(--purple-color);
    color: var(--white-color);
    border: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}
