.list-box {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  .dark & {
    background-color: #8b8b8b;
  }

  .light & {
    background-color: var(--light-gray-color);
  }

  .purple & {
    background-color: var(--light-gray-color);
  }
}

h3 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  gap: 1rem;
}

.list-actions {
  display: flex;
  align-items: center;

  & button {
    background: none;
    font-size: 1.1rem;
  }
}

button {
  border: none;
  font-size: 16px;
  background-color: transparent;
}
.icon-form {
  gap: 0px;

  .light & {
    color: #2b90fc;
  }

  .dark & {
    color: #deff06;
  }

  .purple & {
    color: var(--purple-color);
  }
}
